@model string

    <head>
        <style>
          .div{
              border: 10px solid green;
              height: 400px;
              display: flex;
              justify-content:center;
              text-align:center;
              align-items:center;
              background-color:lightgreen;
              border-radius:13px
            
          }
          .div h1{
              width:100%;
              display:flex;
              justify-content:center;
              font-family:Rockwell;
              text-transform:uppercase;
              letter-spacing: 0.3em;
              font-weight:700;
              color: green;
          }
        </style>
    </head>
    <div class="container div my-4">
        <h1>Order successfully placed!</h1>
    </div>